.language-switcher {
    position: relative;
    display: inline-block;
}

.language-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.language-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.language-dropdown a:hover {
    background-color: #ddd;
}

.language-switcher:hover .language-dropdown {
    display: block;
}
